@charset 'utf-8';

.calendar {
    display: grid;
    grid-template-columns: repeat(53, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    gap: 3px;
  }

  grid > * {
    aspect-ratio: 1;
    background: #432890;
    border-radius: 2px;
  }