@charset 'utf-8';

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --primary: #243455;
    --primary-light: #3a4f7a;
    --primary-lighter: #7591c9;
    --primary-dark: #142038;
    --accent: #a77330;
    --accent-light: #be8c49;
    --accent-lighter: #f7e78a;
    --accent-dark: #775015;
    --text: #222222;
    --text-light: #cccccc;
    --text-lighter: #eeeeee;
    --text-dark: #202020;
    --neutral-light: #99aa96;
    --neutral-lighter: #d3dfd6;
    --neutral-dark: #3b423b;
    --neutral-darker: #232723;
}