@charset 'utf-8';

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --primary: #283183;
    --primary-light: #3259a7;
    --primary-lighter: #7b9ad8;
    --primary-dark: #152a53;
    --accent: #966a31;
    --accent-light: #be8c49;
    --accent-lighter: #f7e78a;
    --accent-dark: #775015;
    --text: #222222;
    --text-light: #cccccc;
    --text-lighter: #eeeeee;
    --text-dark: #202020;
    --neutral-light: #99aa96;
    --neutral-lighter: #d3dfd6;
    --neutral-dark: #3b423b;
    --neutral-darker: #232723;
}