@import url('./more.css');

.game-link {
    background-color: var(--primary);
    padding: 5px 10px;
    color: var(--text-light);
    border-radius: 5px;
    box-shadow: 0 0 5px #444;
    transition: 0.2s ease;
}
.game-link:hover {
    background-color: var(--primary-light);
    color: var(--text-lighter);
}
.game-link:active {
    transform: scale(0.8);
}