@import url('./more.css');

.vertical-stretch-box {
    display: flex;
    align-items: stretch;
    gap: 5px;
    width: max-content;
    max-width: 80%;
    margin: auto;
    flex-direction: column;
}